#root {
    margin: 0 !important;
    padding: 0 !important;
}
.navBarTop {
    width: 100vw;
    height: 3vw;
    min-width: 50vw;
    min-height: 3vw;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 왼쪽, 오른쪽 정렬 */
    align-items: center;
    position: fixed;
    top: 0;
}
.navBarSub{
    width: 100vw;
    height: 4vw;
    min-width: 50vw;
    min-height: 4vw;
    background-color: #888888;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* 왼쪽, 오른쪽 정렬 */
    align-items: center;
    position: fixed;
    top: 3vw;
}
.commonButton{
    width: 5vw;
    height: 2vw;
    font-size: 10px;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 250px;
    height: 50%;
    background-color: #888888;
    box-shadow: -1px 0 2px rgba(0,0,0,0.3);
    padding: 10px;
    top: 7vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logoSize {
    width: 2vw;
    height: 2vw;
    /*min-width: 50px;*/
    /*min-height: 50px;*/
    margin-left: 10px;
    border-radius: 15px;
}
.logoLetter{
    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}
