# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Custom ignore for development-only config and test files ===

# ESLint config
.eslintrc.json

# Babel config
babel.config.cjs

# Jest setup file
setupTests.js

# Mock files
src/__mocks__/react-router-dom.js

src/component/__test__/Signin.test.jsx
src/component/__test__/Investment.test.jsx
src/component/__test__/profileSetting.test.jsx


logs